.pos .pos-content {
    .price-tag {
        background: #00abcd;
        width: 100%;
        right: 0;
        left: 0;
        Top:0;
    }
}
.sale_margin {
    line-height: 21px;
    background: #CDDC39;
    padding: 0px 5px;
}